In [1]:
import pandas as pd
import streamlit as st 
from streamlit_folium import st_folium
import folium
#openpyxl

2025-06-04 23:23:34.159 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [2]:
lien = "dataset_annonce_train.xlsx"
df = pd.read_excel(lien)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 39 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id_annonce               1800 non-null   object
 1   titre_annonce            1800 non-null   object
 2   date_mise_en_ligne       1800 non-null   object
 3   statut                   1800 non-null   object
 4   date_suppression         1232 non-null   object
 5   prix                     1800 non-null   int64
 6   surface_m2               1800 non-null   int64
 7   surface_terrain_m2       420 non-null    float64
 8   charges_mensuelles       1747 non-null   float64
 9   taxe_fonciere            1710 non-null   float64
 10  type_bien                1800 non-null   object
 11  nb_chambres              1800 non-null   int64
 12  etage                    1335 non-null   float64
 13  ascenseur                1250 non-null   float64
 14  annee_construction       1800 non-null   int64
 15  classe_DPE               1687 non-null   object
 16  classe_GES               1687 non-null   object
 17  exposition               1625 non-null   object
 18  balcon                   1800 non-null   int64
 19  terrasse                 1800 non-null   int64
 20  jardin                   1800 non-null   int64
 21  parking                  1800 non-null   int64
 22  nb_photos                1699 non-null   float64
 23  ville                    1800 non-null   object
 24  quartier                 1800 non-null   object
 25  latitude                 1800 non-null   float64
 26  longitude                1800 non-null   float64
 27  distance_plage_m         1800 non-null   int64
 28  vue_mer                  1800 non-null   int64
 29  prix_m2                  1800 non-null   float64
 30  jours_sur_marche         1800 non-null   int64
 31  vendu_sous_90j           1800 non-null   int64
 32  proximite_commerces      1800 non-null   int64
 33  proximite_transports     1800 non-null   int64
 34  proximite_ecoles         1800 non-null   int64
 35  date_confirmation_vente  1012 non-null   object
 36  prix_vente_officiel      1012 non-null   float64
 37  taux_reduction_total_%   1012 non-null   float64
 38  description              1800 non-null   object
dtypes: float64(11), int64(15), object(13)
memory usage: 548.6+ KB

In [11]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
prix,1800.0,416318.293333,327868.091224,44102.00000,177333.250000,305838.000000,560570.000000,2.151999e+06
surface_m2,1800.0,84.083333,55.692904,18.00000,40.000000,68.000000,115.000000,2.970000e+02
surface_terrain_m2,420.0,779.433333,385.822035,151.00000,431.000000,759.500000,1115.250000,1.497000e+03
charges_mensuelles,1747.0,102.257012,79.268266,0.00000,0.000000,111.000000,162.000000,3.150000e+02
taxe_fonciere,1710.0,621.125146,491.510062,66.00000,264.000000,456.000000,834.000000,3.227000e+03
nb_chambres,1800.0,2.083889,1.487082,0.00000,1.000000,2.000000,3.000000,5.000000e+00
etage,1335.0,2.972285,1.980788,0.00000,1.000000,3.000000,5.000000,6.000000e+00
ascenseur,1250.0,0.619200,0.485778,0.00000,0.000000,1.000000,1.000000,1.000000e+00
annee_construction,1800.0,1996.183889,15.885361,1970.00000,1982.000000,1997.000000,2010.000000,2.024000e+03
balcon,1800.0,0.211667,0.408603,0.00000,0.000000,0.000000,0.000000,1.000000e+00
terrasse,1800.0,0.245000,0.430207,0.00000,0.000000,0.000000,0.000000,1.000000e+00
jardin,1800.0,0.300000,0.458385,0.00000,0.000000,0.000000,1.000000,1.000000e+00
parking,1800.0,0.773889,0.418428,0.00000,1.000000,1.000000,1.000000,1.000000e+00
nb_photos,1699.0,7.038846,2.560394,3.00000,5.000000,7.000000,9.000000,1.100000e+01
latitude,1800.0,43.485136,0.011001,43.44937,43.477578,43.485505,43.492612,4.352188e+01
longitude,1800.0,-1.516116,0.036193,-1.58623,-1.552745,-1.514985,-1.480098,-1.442750e+00
distance_plage_m,1800.0,3735.363889,2369.790768,54.00000,1670.500000,3211.000000,6129.000000,9.141000e+03
vue_mer,1800.0,0.064444,0.245611,0.00000,0.000000,0.000000,0.000000,1.000000e+00
prix_m2,1800.0,4825.199494,1354.019385,1897.52000,3775.962500,4686.010000,5841.822500,9.069900e+03
jours_sur_marche,1800.0,212.690000,219.402925,3.00000,52.000000,132.000000,301.000000,8.830000e+02
vendu_sous_90j,1800.0,0.355556,0.478814,0.00000,0.000000,0.000000,1.000000,1.000000e+00
proximite_commerces,1800.0,0.687222,0.463754,0.00000,0.000000,1.000000,1.000000,1.000000e+00
proximite_transports,1800.0,0.481667,0.499803,0.00000,0.000000,0.000000,1.000000,1.000000e+00
proximite_ecoles,1800.0,0.609444,0.488010,0.00000,0.000000,1.000000,1.000000,1.000000e+00
prix_vente_officiel,1012.0,344210.506917,269304.550917,42120.00000,149137.500000,252766.500000,455753.000000,1.958666e+06
taux_reduction_total_%,1012.0,7.699298,1.837989,3.58000,6.160000,7.800000,9.182500,1.156000e+01

In [23]:
import folium

m = folium.Map (location=[-1.48333, 43.48333], zoom_start=16)
folium. Marker([-1.48333, 43.48333], popup="Bayonne",
tooltip="Bayonne"
).add_to (m)
# call to render Folium map in Streamlit
st_data = st_folium(m, width= 725)

2025-06-04 23:18:58.764 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-06-04 23:18:58.765 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-06-04 23:18:58.766 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-06-04 23:18:58.767 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.